{% load static %}
<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>dental clinick</title>
<link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"/>
<link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<nav>
  <ul>
    <li><a href="#">الرئيسية</a></li>
    <li><a href="#">الخدمات</a></li>
    <li><a href="#">عن الموقع</a></li>
    <li><a href="#">تواصل معنا</a></li>
  </ul>
</nav>

<header>
  <div class="header-image">
    <img src="{% static 'image/44.png' %}" alt="صورة شفافة">
  </div>
  <div class="header-content">
    <div class="header-text">
      <h1>Welcome to our dental clinic</h1>
      <h3>we hope you benefit from our services</h3>
    </div>
    <div class="header-icon">
      <img src="{% static 'image/r.png.png' %}" alt="ريم">
    </div>
  </div>
</header>

<!-- موجة -->
<svg class="waves" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
  <defs>
    <linearGradient id="waveGradient" x1="0%" y1="0%" x2="100%" y2="0%">
      <stop offset="0%" style="stop-color:#1976d2;stop-opacity:1" />
      <stop offset="100%" style="stop-color:#0b1a5b;stop-opacity:1"/>
    </linearGradient>
  </defs>
  <path fill="url(#waveGradient)" d="M0,160L60,176C120,192,240,224,360,213.3C480,203,600,149,720,138.7C840,128,960,149,1080,160C1200,171,1320,160,1380,154.7L1440,149L1440,0L0,0Z"></path>
</svg>

<main>
  <!-- قسم نبذة عنا -->
<section class="about-section">
  <h2>About Us</h2>
  <div class="about-content">
    <div class="about-image">
      <img src="{% static 'image/9.webp' %}" alt="صورة عيادة">
    </div>
    <div class="about-text">
      <p>
      في عيادتنا، نسعى لتقديم رعاية أسنان شاملة ومتكاملة لجميع أفراد العائلة، مع التركيز على الراحة والجودة والدقة في كل خطوة من خطوات العلاج. يعتمد فريقنا الطبي على أحدث التقنيات الطبية وأفضل المواد لضمان نتائج تدوم طويلاً وتمنح المرضى ابتسامة صحية وجميلة.

نحرص على توفير بيئة مريحة وآمنة لكل مريض، مع الالتزام بأعلى معايير النظافة والتعقيم. كما نقدم استشارات شخصية لكل حالة لضمان خطة علاجية مناسبة وفعّالة، تشمل الوقاية، الترميم، وعلاجات التجميل. هدفنا هو بناء علاقة ثقة مستمرة مع مرضانا من خلال تقديم خدمات متميزة، متابعة دقيقة، ورعاية طبية شاملة تلبي توقعاتهم وتحقق رضاهم التام.
      </p>
    </div>
  </div>
</section>


  <!-- قسم خدماتنا -->
  <section class="services-section">
    <h2>Our Services</h2>
    <div class="services-container">
      <div class="service-item">
        <img src="{% static 'image/appointment.png' %}" alt="خدمة 1">
        <h3>المواعيد والحجوزات</h3>
        <p>ادارة المواعيد والحجوزات بشكل ذكي وسريع</p>
      </div>
      <div class="service-item">
        <img src="{% static 'image/folder.png' %}" alt="خدمة 2">
        <h3>تسجيل المرضى</h3>
        <p>تسجيل كافة معلومات المريض وعرضها بطرق ذكية وسريعة</p>
      </div>
      <div class="service-item">
        <img src="{% static 'image/budget.png' %}" alt="خدمة 3">
        <h3>نظام المحاسبة</h3>
        <p>إدارة ايرادات ومصاريف العيادة بشكل كامل مع كامل التقارير الهامة لكل عيادة </p>
      </div>
      <div class="service-item">
        <img src="{% static 'image/doctor-consultation.png' %}" alt="خدمة 4">
        <h3>نظام الاستقبال</h3>
        <p>صنع خصيصا لادارة الاستقبال في العيادة, وتسهيل التواصل بين السكرتارية والاطباء وفرز المرضى حسب الغرف المتاحة</p>
      </div>
      <div class="service-item">
        <img src="{% static 'image/message.png' %}" alt="خدمة 5">
        <h3>الرسائل التنبيهية</h3>
        <p>احصل على افضل حضور للمرضى بتذكيرهم برسالة نصية او واتس اب قبل الموعد</p>
      </div>
      <div class="service-item">
        <img src="{% static 'image/feasibility.png' %}" alt="خدمة 6">
        <h3>احصائـيات الإدارة</h3>
        <p>تُمكّن من متابعة أداء العيادة وتحليل عدد المرضى والإيرادات وكفاءة الطاقم لتحسين جودة الخدمات. </p>
      </div>
      <div class="service-item">
        <img src="{% static 'image/record.png' %}" alt="خدمة 7">
        <h3>ادارة المهام</h3>
        <p>تنظيم المهام وتعيينها على الموظفين مع امكانية تصنيفها حسب عمل العيادة</p>
      </div>
      <div class="service-item">
        <img src="{% static 'image/dentist.png' %}" alt="خدمة 8">
        <h3>خدمةالطـوارئ</h3>
        <p>تُوفر رعاية فورية للحالات العاجلة مثل آلام الأسنان الشديدة أو الكسور لضمان راحة المريض وسرعة علاجه. </p>
      </div>
    </div>
    <div class="book-button">
      <a href="{% url 'booking_page' %}">احجز الآن</a>
    </div>
  </section>

  <!-- قسم الأطباء -->

<section class="doctors-section">
  <h2>Our Doctors</h2>
  <p class="description">
    فريقنا من الأطباء المؤهلين يقدمون أفضل خدمات العناية بالأسنان باستخدام أحدث التقنيات والمعدات الحديثة.
  </p>

  <div class="swiper doctors-swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide doctor-card">
        <div class="doctor-img"><img src="{% static 'image/h.jpg' %}" alt=""></div>
        <div class="doctor-info">
          <h3>د.أحمد علي</h3>
           <p>تخصص: طب أسنان عام، خبرة 6 سنوات في العناية اليومية بالأسنان.</p>
          <a href="{% url 'booking_page' %}?doctor=Reem" class="book-doctor-btn">احجز مع الدكتورة</a>
        </div>
      </div>
      <div class="swiper-slide doctor-card">
        <div class="doctor-img"><img src="{% static 'image/i.jpg' %}" alt=""></div>
        <div class="doctor-info">
          <h3>د. سارة محمد </h3> 
         <p>تخصص: طب أسنان عام، خبرة 6 سنوات في العناية اليومية بالأسنان.</p>
          <a href="{% url 'booking_page' %}?doctor=Reem" class="book-doctor-btn">احجز مع الدكتورة</a>
        </div>
      </div>
      <div class="swiper-slide doctor-card">
        <div class="doctor-img"><img src="{% static 'image/k.jpg' %}" alt=""></div>
        <div class="doctor-info"> 
          <h3>د. ليلى سمير</h3> 
         <p>تخصص: طب أسنان عام، خبرة 6 سنوات في العناية اليومية بالأسنان.</p>
          <a href="{% url 'booking_page' %}?doctor=Reem" class="book-doctor-btn">احجز مع الدكتورة</a>
        </div>
      </div>
      <div class="swiper-slide doctor-card">
        <div class="doctor-img"><img src="{% static 'image/nnn.jpg' %}" alt=""></div>
        <div class="doctor-info">
          <h3>د. مازن حسن</h3> 
         <p>تخصص: طب أسنان عام، خبرة 6 سنوات في العناية اليومية بالأسنان.</p>
          <a href="{% url 'booking_page' %}?doctor=Reem" class="book-doctor-btn">احجز مع الدكتورة</a>
        </div>
      </div>
      <div class="swiper-slide doctor-card">
        <div class="doctor-img"><img src="{% static 'image/nv.jpg' %}" alt=""></div>
        <div class="doctor-info">
          <h3>د. خالد يوسف</h3> 
         <p>تخصص: طب أسنان عام، خبرة 6 سنوات في العناية اليومية بالأسنان.</p>
          <a href="{% url 'booking_page' %}?doctor=Reem" class="book-doctor-btn">احجز مع الدكتورة</a>
        </div>
      </div>
      <div class="swiper-slide doctor-card">
        <div class="doctor-img"><img src="{% static 'image/oi.jpg' %}" alt=" "></div>
        <div class="doctor-info">
          <h3>د. نورة عبد الله</h3> 
         <p>تخصص: طب أسنان عام، خبرة 6 سنوات في العناية اليومية بالأسنان.</p>
          <a href="{% url 'booking_page' %}?doctor=Reem" class="book-doctor-btn">احجز مع الدكتورة</a>
        </div>
      </div>
      <div class="swiper-slide doctor-card">
        <div class="doctor-img"><img src="{% static 'image/ops.jpg' %}" alt=""></div>
        <div class="doctor-info">
          <h3>د. رنيم خال</h3>
         <p>تخصص: طب أسنان عام، خبرة 6 سنوات في العناية اليومية بالأسنان.</p>
          <a href="{% url 'booking_page' %}?doctor=Reem" class="book-doctor-btn">احجز مع الدكتورة</a>
        </div>
      </div>
      <div class="swiper-slide doctor-card">
        <div class="doctor-img"><img src="{% static 'image/p.jpg' %}" alt=""></div>
        <div class="doctor-info">
          <h3>د. ريم علي</h3>
         <p>تخصص: طب أسنان عام، خبرة 6 سنوات في العناية اليومية بالأسنان.</p>
          <a href="{% url 'booking_page' %}?doctor=Reem" class="book-doctor-btn">احجز مع الدكتورة</a>
        </div>
      </div>
      <div class="swiper-slide doctor-card">
        <div class="doctor-img"><img src="{% static 'image/we.jpg' %}" alt=""></div>
        <div class="doctor-info">
          <h3>د. يوسف حسن</h3>
           <p>تخصص: طب أسنان عام، خبرة 6 سنوات في العناية اليومية بالأسنان.</p>
          <a href="{% url 'booking_page' %}?doctor=Reem" class="book-doctor-btn">احجز مع الدكتورة</a>
        
        </div>
      </div>
      <div class="swiper-slide doctor-card">
        <div class="doctor-img"><img src="{% static 'image/b.jpg' %}" alt=""></div>
        <div class="doctor-info">
          <h3>د. ليام سامي </h3>
           <p>تخصص: طب أسنان عام، خبرة 6 سنوات في العناية اليومية بالأسنان.</p>
          <a href="{% url 'booking_page' %}?doctor=Reem" class="book-doctor-btn">احجز مع الدكتورة</a>
        
        </div>
      </div>
    </div>

    <!-- أزرار التنقل -->
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>
</section>
<section class="team-gallery">
  <h2>Explore Our Clinic</h2>
  <p>نقدّم لكم جولة داخل عيادتنا للتعرّف على أحدث التجهيزات والخدمات الطبية
فريقنا يسعى لتوفير أفضل رعاية صحية بكل احترافية وراحة للمرضى</p>
  <div class="swiper team-swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="gallery-item">
          <img src="{% static 'image/ee.jpg' %}" alt="د. أحمد علي">
          <div class="overlay-text">د. أحمد علي</div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="gallery-item">
          <img src="{% static 'image/odd.jpg' %}" alt="د. سارة محمد">
          <div class="overlay-text">د. سارة محمد</div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="gallery-item">
          <img src="{% static 'image/nee.jpg' %}" alt="د. ليلى سمير">
          <div class="overlay-text">د. ليلى سمير</div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="gallery-item">
          <img src="{% static 'image/oh.jpg' %}" alt="د. مازن حسن">
          <div class="overlay-text">د. مازن حسن</div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="gallery-item">
          <img src="{% static 'image/ne.jpg' %}" alt="د. خالد يوسف">
          <div class="overlay-text">د. خالد يوسف</div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="gallery-item">
          <img src="{% static 'image/ra.jpg' %}" alt="د. نورة عبد الله">
          <div class="overlay-text">د. نورة عبد الله</div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="gallery-item">
          <img src="{% static 'image/od.jpg' %}" alt="د. ريم علي">
          <div class="overlay-text">د. ريم علي</div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="gallery-item">
          <img src="{% static 'image/all.jpg' %}" alt="د. ليان سامي">
          <div class="overlay-text">د. ليان سامي</div>
        </div>
      </div>
    </div>

    <!-- Pagination -->
    <div class="swiper-pagination"></div>
  </div>
</section>


<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
<script>
  const swiper = new Swiper('.doctors-swiper', {
    slidesPerView: 4,
    slidesPerGroup: 4,
    spaceBetween: 25,
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
    breakpoints: {
      320: { slidesPerView: 1, slidesPerGroup: 1 },
      480: { slidesPerView: 2, slidesPerGroup: 2 },
      768: { slidesPerView: 3, slidesPerGroup: 3 },
      1024: { slidesPerView: 4, slidesPerGroup: 4 }
    }
  });
  const teamSwiper = new Swiper('.team-swiper', {
  slidesPerView: 3,
  spaceBetween: 20,
  loop: true,
  autoplay: {
    delay: 3000,
    disableOnInteraction: false,
  },
  pagination: {
    el: '.swiper-pagination',
    clickable: true,
  },
  // حذف أزرار التنقل الجانبية
  navigation: false,
  breakpoints: {
    320: { slidesPerView: 1 },
    640: { slidesPerView: 2 },
    1024: { slidesPerView: 3 }
  },
});

</script>

<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
