{% load static %}
<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>هيدر مثل Clindo</title>
<link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<nav>
  <ul>
    <li><a href="#">الرئيسية</a></li>
    <li><a href="#">الخدمات</a></li>
    <li><a href="#">عن الموقع</a></li>
    <li><a href="#">تواصل معنا</a></li>
  </ul>
</nav>
<!-- الصورة الشفافة أسفل النافبار -->


<header>
  <div class="header-image">
  <img src="{% static 'image/44.png' %}" alt="صورة شفافة">
</div>
  <div class="header-content">
    <div class="header-text">
      <h1>Welcome to our dental clinic</h1>
      <h3>we hope you benefit from our services</h3>
    </div>
    <div class="header-icon">
      <img src="{% static 'image/r.png.png' %}" alt="ريم">
    </div>
  </div>


</header>
<!-- موجة بعد الهيدر -->
<svg class="waves" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
  <defs>
    <linearGradient id="waveGradient" x1="0%" y1="0%" x2="100%" y2="0%">
      <stop offset="0%" style="stop-color:#1976d2;stop-opacity:1"  />
      <stop offset="100%" style="stop-color:#0b1a5b;stop-opacity:1"/>
    </linearGradient>
  </defs>
  <path fill="url(#waveGradient)"
        d="M0,160L60,176C120,192,240,224,360,213.3C480,203,600,149,720,138.7C840,128,960,149,1080,160C1200,171,1320,160,1380,154.7L1440,149L1440,0L0,0Z">
  </path>
</svg>


<main>
  <h2>محتوى الصفحة</h2>
  <p>نسعى لتقديم أفضل رعاية أسنان متكاملة لجميع أفراد العائلة. باستخدام أحدث التقنيات الطبية وأفضل المواد، نحرص على أن تكون زيارتكم لدينا تجربة مريحة وخالية من القلق.</p>
</main>

</body>
</html>
