[{
	"resource": "/c:/Users/et-10/OneDrive/Desktop/myproject/mysite/main/views.py",
	"owner": "Pylance3",
	"severity": 8,
	"message": "\"{\" was not closed",
	"source": "Pylance",
	"startLineNumber": 1,
	"startColumn": 1,
	"endLineNumber": 1,
	"endColumn": 2,
	"origin": "extHost1"
},{
	"resource": "/c:/Users/et-10/OneDrive/Desktop/myproject/mysite/main/views.py",
	"owner": "Pylance3",
	"severity": 8,
	"message": "Expected expression",
	"source": "Pylance",
	"startLineNumber": 1,
	"startColumn": 2,
	"endLineNumber": 1,
	"endColumn": 3,
	"origin": "extHost1"
},{
	"resource": "/c:/Users/et-10/OneDrive/Desktop/myproject/mysite/main/views.py",
	"owner": "Pylance3",
	"severity": 8,
	"message": "\"{\" was not closed",
	"source": "Pylance",
	"startLineNumber": 2,
	"startColumn": 1,
	"endLineNumber": 2,
	"endColumn": 2,
	"origin": "extHost1"
},{
	"resource": "/c:/Users/et-10/OneDrive/Desktop/myproject/mysite/main/views.py",
	"owner": "Pylance3",
	"severity": 8,
	"message": "Expected expression",
	"source": "Pylance",
	"startLineNumber": 2,
	"startColumn": 2,
	"endLineNumber": 2,
	"endColumn": 3,
	"origin": "extHost1"
},{
	"resource": "/c:/Users/et-10/OneDrive/Desktop/myproject/mysite/main/views.py",
	"owner": "Pylance3",
	"severity": 8,
	"message": "\"{\" was not closed",
	"source": "Pylance",
	"startLineNumber": 4,
	"startColumn": 1,
	"endLineNumber": 4,
	"endColumn": 2,
	"origin": "extHost1"
},{
	"resource": "/c:/Users/et-10/OneDrive/Desktop/myproject/mysite/main/views.py",
	"owner": "Pylance3",
	"severity": 8,
	"message": "Expected expression",
	"source": "Pylance",
	"startLineNumber": 4,
	"startColumn": 2,
	"endLineNumber": 4,
	"endColumn": 3,
	"origin": "extHost1"
},{
	"resource": "/c:/Users/et-10/OneDrive/Desktop/myproject/mysite/main/views.py",
	"owner": "Pylance3",
	"severity": 8,
	"message": "Expected expression",
	"source": "Pylance",
	"startLineNumber": 5,
	"startColumn": 1,
	"endLineNumber": 5,
	"endColumn": 2,
	"origin": "extHost1"
},{
	"resource": "/c:/Users/et-10/OneDrive/Desktop/myproject/mysite/main/views.py",
	"owner": "Pylance3",
	"severity": 8,
	"message": "Expected expression",
	"source": "Pylance",
	"startLineNumber": 7,
	"startColumn": 1,
	"endLineNumber": 7,
	"endColumn": 2,
	"origin": "extHost1"
},{
	"resource": "/c:/Users/et-10/OneDrive/Desktop/myproject/mysite/main/views.py",
	"owner": "Pylance3",
	"severity": 8,
	"message": "Expected expression",
	"source": "Pylance",
	"startLineNumber": 8,
	"startColumn": 1,
	"endLineNumber": 8,
	"endColumn": 2,
	"origin": "extHost1"
},{
	"resource": "/c:/Users/et-10/OneDrive/Desktop/myproject/mysite/main/views.py",
	"owner": "Pylance3",
	"severity": 8,
	"message": "Expected expression",
	"source": "Pylance",
	"startLineNumber": 13,
	"startColumn": 1,
	"endLineNumber": 13,
	"endColumn": 2,
	"origin": "extHost1"
},{
	"resource": "/c:/Users/et-10/OneDrive/Desktop/myproject/mysite/main/views.py",
	"owner": "Pylance3",
	"severity": 8,
	"message": "Expected expression",
	"source": "Pylance",
	"startLineNumber": 19,
	"startColumn": 1,
	"endLineNumber": 19,
	"endColumn": 2,
	"origin": "extHost1"
},{
	"resource": "/c:/Users/et-10/OneDrive/Desktop/myproject/mysite/main/views.py",
	"owner": "Pylance3",
	"severity": 8,
	"message": "Expected expression",
	"source": "Pylance",
	"startLineNumber": 24,
	"startColumn": 1,
	"endLineNumber": 24,
	"endColumn": 2,
	"origin": "extHost1"
},{
	"resource": "/c:/Users/et-10/OneDrive/Desktop/myproject/mysite/main/views.py",
	"owner": "Pylance3",
	"severity": 8,
	"message": "Expected expression",
	"source": "Pylance",
	"startLineNumber": 30,
	"startColumn": 1,
	"endLineNumber": 30,
	"endColumn": 2,
	"origin": "extHost1"
},{
	"resource": "/c:/Users/et-10/OneDrive/Desktop/myproject/mysite/main/views.py",
	"owner": "Pylance3",
	"severity": 8,
	"message": "Expected expression",
	"source": "Pylance",
	"startLineNumber": 37,
	"startColumn": 1,
	"endLineNumber": 37,
	"endColumn": 2,
	"origin": "extHost1"
},{
	"resource": "/c:/Users/et-10/OneDrive/Desktop/myproject/mysite/main/views.py",
	"owner": "Pylance3",
	"severity": 8,
	"message": "Expected expression",
	"source": "Pylance",
	"startLineNumber": 41,
	"startColumn": 1,
	"endLineNumber": 41,
	"endColumn": 2,
	"origin": "extHost1"
},{
	"resource": "/c:/Users/et-10/OneDrive/Desktop/myproject/mysite/main/views.py",
	"owner": "Pylance3",
	"severity": 8,
	"message": "Expected expression",
	"source": "Pylance",
	"startLineNumber": 46,
	"startColumn": 1,
	"endLineNumber": 46,
	"endColumn": 2,
	"origin": "extHost1"
},{
	"resource": "/c:/Users/et-10/OneDrive/Desktop/myproject/mysite/main/views.py",
	"owner": "Pylance3",
	"severity": 8,
	"message": "Expected expression",
	"source": "Pylance",
	"startLineNumber": 47,
	"startColumn": 1,
	"endLineNumber": 47,
	"endColumn": 2,
	"origin": "extHost1"
},{
	"resource": "/c:/Users/et-10/OneDrive/Desktop/myproject/mysite/main/views.py",
	"owner": "Pylance3",
	"severity": 8,
	"message": "Expected expression",
	"source": "Pylance",
	"startLineNumber": 52,
	"startColumn": 1,
	"endLineNumber": 52,
	"endColumn": 2,
	"origin": "extHost1"
},{
	"resource": "/c:/Users/et-10/OneDrive/Desktop/myproject/mysite/main/views.py",
	"owner": "Pylance3",
	"severity": 8,
	"message": "Expected expression",
	"source": "Pylance",
	"startLineNumber": 56,
	"startColumn": 1,
	"endLineNumber": 56,
	"endColumn": 2,
	"origin": "extHost1"
},{
	"resource": "/c:/Users/et-10/OneDrive/Desktop/myproject/mysite/main/views.py",
	"owner": "Pylance3",
	"severity": 8,
	"message": "Expected expression",
	"source": "Pylance",
	"startLineNumber": 64,
	"startColumn": 1,
	"endLineNumber": 64,
	"endColumn": 2,
	"origin": "extHost1"
},{
	"resource": "/c:/Users/et-10/OneDrive/Desktop/myproject/mysite/main/views.py",
	"owner": "Pylance3",
	"severity": 8,
	"message": "Expected new line at end of decorator",
	"source": "Pylance",
	"startLineNumber": 66,
	"startColumn": 8,
	"endLineNumber": 66,
	"endColumn": 13,
	"origin": "extHost1"
},{
	"resource": "/c:/Users/et-10/OneDrive/Desktop/myproject/mysite/main/views.py",
	"owner": "Pylance3",
	"severity": 8,
	"message": "Expected function or class declaration after decorator",
	"source": "Pylance",
	"startLineNumber": 71,
	"startColumn": 2,
	"endLineNumber": 72,
	"endColumn": 1,
	"origin": "extHost1"
},{
	"resource": "/c:/Users/et-10/OneDrive/Desktop/myproject/mysite/main/views.py",
	"owner": "Pylance3",
	"severity": 8,
	"message": "Expected expression",
	"source": "Pylance",
	"startLineNumber": 72,
	"startColumn": 1,
	"endLineNumber": 72,
	"endColumn": 2,
	"origin": "extHost1"
},{
	"resource": "/c:/Users/et-10/OneDrive/Desktop/myproject/mysite/main/views.py",
	"owner": "Pylance3",
	"severity": 8,
	"message": "Expected expression",
	"source": "Pylance",
	"startLineNumber": 74,
	"startColumn": 1,
	"endLineNumber": 74,
	"endColumn": 2,
	"origin": "extHost1"
},{
	"resource": "/c:/Users/et-10/OneDrive/Desktop/myproject/mysite/main/views.py",
	"owner": "Pylance3",
	"severity": 8,
	"message": "Unexpected indentation",
	"source": "Pylance",
	"startLineNumber": 75,
	"startColumn": 1,
	"endLineNumber": 75,
	"endColumn": 3,
	"origin": "extHost1"
},{
	"resource": "/c:/Users/et-10/OneDrive/Desktop/myproject/mysite/main/views.py",
	"owner": "Pylance3",
	"severity": 8,
	"message": "Expected expression",
	"source": "Pylance",
	"startLineNumber": 75,
	"startColumn": 3,
	"endLineNumber": 75,
	"endColumn": 4,
	"origin": "extHost1"
},{
	"resource": "/c:/Users/et-10/OneDrive/Desktop/myproject/mysite/main/views.py",
	"owner": "Pylance3",
	"severity": 8,
	"message": "Expected expression",
	"source": "Pylance",
	"startLineNumber": 76,
	"startColumn": 3,
	"endLineNumber": 76,
	"endColumn": 4,
	"origin": "extHost1"
},{
	"resource": "/c:/Users/et-10/OneDrive/Desktop/myproject/mysite/main/views.py",
	"owner": "Pylance3",
	"severity": 8,
	"message": "Expected expression",
	"source": "Pylance",
	"startLineNumber": 78,
	"startColumn": 3,
	"endLineNumber": 78,
	"endColumn": 4,
	"origin": "extHost1"
},{
	"resource": "/c:/Users/et-10/OneDrive/Desktop/myproject/mysite/main/views.py",
	"owner": "Pylance3",
	"severity": 8,
	"message": "Expected expression",
	"source": "Pylance",
	"startLineNumber": 79,
	"startColumn": 3,
	"endLineNumber": 79,
	"endColumn": 4,
	"origin": "extHost1"
},{
	"resource": "/c:/Users/et-10/OneDrive/Desktop/myproject/mysite/main/views.py",
	"owner": "Pylance3",
	"severity": 8,
	"message": "Unexpected indentation",
	"source": "Pylance",
	"startLineNumber": 80,
	"startColumn": 1,
	"endLineNumber": 80,
	"endColumn": 5,
	"origin": "extHost1"
},{
	"resource": "/c:/Users/et-10/OneDrive/Desktop/myproject/mysite/main/views.py",
	"owner": "Pylance3",
	"severity": 8,
	"message": "Expected expression",
	"source": "Pylance",
	"startLineNumber": 80,
	"startColumn": 5,
	"endLineNumber": 80,
	"endColumn": 6,
	"origin": "extHost1"
},{
	"resource": "/c:/Users/et-10/OneDrive/Desktop/myproject/mysite/main/views.py",
	"owner": "Pylance3",
	"severity": 8,
	"message": "Expected expression",
	"source": "Pylance",
	"startLineNumber": 81,
	"startColumn": 5,
	"endLineNumber": 81,
	"endColumn": 6,
	"origin": "extHost1"
},{
	"resource": "/c:/Users/et-10/OneDrive/Desktop/myproject/mysite/main/views.py",
	"owner": "Pylance3",
	"severity": 8,
	"message": "Expected expression",
	"source": "Pylance",
	"startLineNumber": 82,
	"startColumn": 5,
	"endLineNumber": 82,
	"endColumn": 6,
	"origin": "extHost1"
},{
	"resource": "/c:/Users/et-10/OneDrive/Desktop/myproject/mysite/main/views.py",
	"owner": "Pylance3",
	"severity": 8,
	"message": "Unindent not expected",
	"source": "Pylance",
	"startLineNumber": 83,
	"startColumn": 3,
	"endLineNumber": 83,
	"endColumn": 4,
	"origin": "extHost1"
},{
	"resource": "/c:/Users/et-10/OneDrive/Desktop/myproject/mysite/main/views.py",
	"owner": "Pylance3",
	"severity": 8,
	"message": "Expected expression",
	"source": "Pylance",
	"startLineNumber": 83,
	"startColumn": 3,
	"endLineNumber": 83,
	"endColumn": 4,
	"origin": "extHost1"
},{
	"resource": "/c:/Users/et-10/OneDrive/Desktop/myproject/mysite/main/views.py",
	"owner": "Pylance3",
	"severity": 8,
	"message": "Expected expression",
	"source": "Pylance",
	"startLineNumber": 85,
	"startColumn": 3,
	"endLineNumber": 85,
	"endColumn": 4,
	"origin": "extHost1"
},{
	"resource": "/c:/Users/et-10/OneDrive/Desktop/myproject/mysite/main/views.py",
	"owner": "Pylance3",
	"severity": 8,
	"message": "Expected expression",
	"source": "Pylance",
	"startLineNumber": 86,
	"startColumn": 3,
	"endLineNumber": 86,
	"endColumn": 4,
	"origin": "extHost1"
},{
	"resource": "/c:/Users/et-10/OneDrive/Desktop/myproject/mysite/main/views.py",
	"owner": "Pylance3",
	"severity": 8,
	"message": "Unexpected indentation",
	"source": "Pylance",
	"startLineNumber": 87,
	"startColumn": 1,
	"endLineNumber": 87,
	"endColumn": 5,
	"origin": "extHost1"
},{
	"resource": "/c:/Users/et-10/OneDrive/Desktop/myproject/mysite/main/views.py",
	"owner": "Pylance3",
	"severity": 8,
	"message": "Expected expression",
	"source": "Pylance",
	"startLineNumber": 87,
	"startColumn": 5,
	"endLineNumber": 87,
	"endColumn": 6,
	"origin": "extHost1"
},{
	"resource": "/c:/Users/et-10/OneDrive/Desktop/myproject/mysite/main/views.py",
	"owner": "Pylance3",
	"severity": 8,
	"message": "Expected expression",
	"source": "Pylance",
	"startLineNumber": 88,
	"startColumn": 5,
	"endLineNumber": 88,
	"endColumn": 6,
	"origin": "extHost1"
},{
	"resource": "/c:/Users/et-10/OneDrive/Desktop/myproject/mysite/main/views.py",
	"owner": "Pylance3",
	"severity": 8,
	"message": "Unexpected indentation",
	"source": "Pylance",
	"startLineNumber": 89,
	"startColumn": 1,
	"endLineNumber": 89,
	"endColumn": 7,
	"origin": "extHost1"
},{
	"resource": "/c:/Users/et-10/OneDrive/Desktop/myproject/mysite/main/views.py",
	"owner": "Pylance3",
	"severity": 8,
	"message": "Expected expression",
	"source": "Pylance",
	"startLineNumber": 89,
	"startColumn": 7,
	"endLineNumber": 89,
	"endColumn": 8,
	"origin": "extHost1"
},{
	"resource": "/c:/Users/et-10/OneDrive/Desktop/myproject/mysite/main/views.py",
	"owner": "Pylance3",
	"severity": 8,
	"message": "Unexpected indentation",
	"source": "Pylance",
	"startLineNumber": 90,
	"startColumn": 1,
	"endLineNumber": 90,
	"endColumn": 9,
	"origin": "extHost1"
},{
	"resource": "/c:/Users/et-10/OneDrive/Desktop/myproject/mysite/main/views.py",
	"owner": "Pylance3",
	"severity": 8,
	"message": "Expected expression",
	"source": "Pylance",
	"startLineNumber": 90,
	"startColumn": 9,
	"endLineNumber": 90,
	"endColumn": 10,
	"origin": "extHost1"
},{
	"resource": "/c:/Users/et-10/OneDrive/Desktop/myproject/mysite/main/views.py",
	"owner": "Pylance3",
	"severity": 8,
	"message": "Unexpected indentation",
	"source": "Pylance",
	"startLineNumber": 91,
	"startColumn": 1,
	"endLineNumber": 91,
	"endColumn": 11,
	"origin": "extHost1"
},{
	"resource": "/c:/Users/et-10/OneDrive/Desktop/myproject/mysite/main/views.py",
	"owner": "Pylance3",
	"severity": 8,
	"message": "Expected expression",
	"source": "Pylance",
	"startLineNumber": 91,
	"startColumn": 11,
	"endLineNumber": 91,
	"endColumn": 12,
	"origin": "extHost1"
},{
	"resource": "/c:/Users/et-10/OneDrive/Desktop/myproject/mysite/main/views.py",
	"owner": "Pylance3",
	"severity": 8,
	"message": "Unexpected indentation",
	"source": "Pylance",
	"startLineNumber": 92,
	"startColumn": 1,
	"endLineNumber": 92,
	"endColumn": 13,
	"origin": "extHost1"
},{
	"resource": "/c:/Users/et-10/OneDrive/Desktop/myproject/mysite/main/views.py",
	"owner": "Pylance3",
	"severity": 8,
	"message": "Expected expression",
	"source": "Pylance",
	"startLineNumber": 92,
	"startColumn": 13,
	"endLineNumber": 92,
	"endColumn": 14,
	"origin": "extHost1"
},{
	"resource": "/c:/Users/et-10/OneDrive/Desktop/myproject/mysite/main/views.py",
	"owner": "Pylance3",
	"severity": 8,
	"message": "Expected expression",
	"source": "Pylance",
	"startLineNumber": 93,
	"startColumn": 13,
	"endLineNumber": 93,
	"endColumn": 14,
	"origin": "extHost1"
},{
	"resource": "/c:/Users/et-10/OneDrive/Desktop/myproject/mysite/main/views.py",
	"owner": "Pylance3",
	"severity": 8,
	"message": "Expected expression",
	"source": "Pylance",
	"startLineNumber": 94,
	"startColumn": 13,
	"endLineNumber": 94,
	"endColumn": 14,
	"origin": "extHost1"
},{
	"resource": "/c:/Users/et-10/OneDrive/Desktop/myproject/mysite/main/views.py",
	"owner": "Pylance3",
	"severity": 8,
	"message": "Expected expression",
	"source": "Pylance",
	"startLineNumber": 95,
	"startColumn": 13,
	"endLineNumber": 95,
	"endColumn": 14,
	"origin": "extHost1"
},{
	"resource": "/c:/Users/et-10/OneDrive/Desktop/myproject/mysite/main/views.py",
	"owner": "Pylance3",
	"severity": 8,
	"message": "Expected expression",
	"source": "Pylance",
	"startLineNumber": 96,
	"startColumn": 13,
	"endLineNumber": 96,
	"endColumn": 14,
	"origin": "extHost1"
},{
	"resource": "/c:/Users/et-10/OneDrive/Desktop/myproject/mysite/main/views.py",
	"owner": "Pylance3",
	"severity": 8,
	"message": "Expected expression",
	"source": "Pylance",
	"startLineNumber": 97,
	"startColumn": 13,
	"endLineNumber": 97,
	"endColumn": 14,
	"origin": "extHost1"
},{
	"resource": "/c:/Users/et-10/OneDrive/Desktop/myproject/mysite/main/views.py",
	"owner": "Pylance3",
	"severity": 8,
	"message": "Unindent not expected",
	"source": "Pylance",
	"startLineNumber": 98,
	"startColumn": 11,
	"endLineNumber": 98,
	"endColumn": 12,
	"origin": "extHost1"
},{
	"resource": "/c:/Users/et-10/OneDrive/Desktop/myproject/mysite/main/views.py",
	"owner": "Pylance3",
	"severity": 8,
	"message": "Expected expression",
	"source": "Pylance",
	"startLineNumber": 98,
	"startColumn": 11,
	"endLineNumber": 98,
	"endColumn": 12,
	"origin": "extHost1"
},{
	"resource": "/c:/Users/et-10/OneDrive/Desktop/myproject/mysite/main/views.py",
	"owner": "Pylance3",
	"severity": 8,
	"message": "Unindent not expected",
	"source": "Pylance",
	"startLineNumber": 99,
	"startColumn": 9,
	"endLineNumber": 99,
	"endColumn": 10,
	"origin": "extHost1"
},{
	"resource": "/c:/Users/et-10/OneDrive/Desktop/myproject/mysite/main/views.py",
	"owner": "Pylance3",
	"severity": 8,
	"message": "Expected expression",
	"source": "Pylance",
	"startLineNumber": 99,
	"startColumn": 9,
	"endLineNumber": 99,
	"endColumn": 10,
	"origin": "extHost1"
},{
	"resource": "/c:/Users/et-10/OneDrive/Desktop/myproject/mysite/main/views.py",
	"owner": "Pylance3",
	"severity": 8,
	"message": "Expected expression",
	"source": "Pylance",
	"startLineNumber": 100,
	"startColumn": 9,
	"endLineNumber": 100,
	"endColumn": 10,
	"origin": "extHost1"
},{
	"resource": "/c:/Users/et-10/OneDrive/Desktop/myproject/mysite/main/views.py",
	"owner": "Pylance3",
	"severity": 8,
	"message": "Unexpected indentation",
	"source": "Pylance",
	"startLineNumber": 101,
	"startColumn": 1,
	"endLineNumber": 101,
	"endColumn": 11,
	"origin": "extHost1"
},{
	"resource": "/c:/Users/et-10/OneDrive/Desktop/myproject/mysite/main/views.py",
	"owner": "Pylance3",
	"severity": 8,
	"message": "\"{\" was not closed",
	"source": "Pylance",
	"startLineNumber": 101,
	"startColumn": 11,
	"endLineNumber": 101,
	"endColumn": 12,
	"origin": "extHost1"
},{
	"resource": "/c:/Users/et-10/OneDrive/Desktop/myproject/mysite/main/views.py",
	"owner": "Pylance3",
	"severity": 8,
	"message": "Expected expression",
	"source": "Pylance",
	"startLineNumber": 101,
	"startColumn": 12,
	"endLineNumber": 101,
	"endColumn": 13,
	"origin": "extHost1"
},{
	"resource": "/c:/Users/et-10/OneDrive/Desktop/myproject/mysite/main/views.py",
	"owner": "Pylance3",
	"severity": 8,
	"message": "Expected expression",
	"source": "Pylance",
	"startLineNumber": 102,
	"startColumn": 11,
	"endLineNumber": 102,
	"endColumn": 12,
	"origin": "extHost1"
},{
	"resource": "/c:/Users/et-10/OneDrive/Desktop/myproject/mysite/main/views.py",
	"owner": "Pylance3",
	"severity": 8,
	"message": "Unexpected indentation",
	"source": "Pylance",
	"startLineNumber": 103,
	"startColumn": 1,
	"endLineNumber": 103,
	"endColumn": 13,
	"origin": "extHost1"
},{
	"resource": "/c:/Users/et-10/OneDrive/Desktop/myproject/mysite/main/views.py",
	"owner": "Pylance3",
	"severity": 8,
	"message": "Expected expression",
	"source": "Pylance",
	"startLineNumber": 103,
	"startColumn": 13,
	"endLineNumber": 103,
	"endColumn": 14,
	"origin": "extHost1"
},{
	"resource": "/c:/Users/et-10/OneDrive/Desktop/myproject/mysite/main/views.py",
	"owner": "Pylance3",
	"severity": 8,
	"message": "Expected expression",
	"source": "Pylance",
	"startLineNumber": 104,
	"startColumn": 13,
	"endLineNumber": 104,
	"endColumn": 14,
	"origin": "extHost1"
},{
	"resource": "/c:/Users/et-10/OneDrive/Desktop/myproject/mysite/main/views.py",
	"owner": "Pylance3",
	"severity": 8,
	"message": "Expected expression",
	"source": "Pylance",
	"startLineNumber": 105,
	"startColumn": 13,
	"endLineNumber": 105,
	"endColumn": 14,
	"origin": "extHost1"
},{
	"resource": "/c:/Users/et-10/OneDrive/Desktop/myproject/mysite/main/views.py",
	"owner": "Pylance3",
	"severity": 8,
	"message": "Expected expression",
	"source": "Pylance",
	"startLineNumber": 106,
	"startColumn": 13,
	"endLineNumber": 106,
	"endColumn": 14,
	"origin": "extHost1"
},{
	"resource": "/c:/Users/et-10/OneDrive/Desktop/myproject/mysite/main/views.py",
	"owner": "Pylance3",
	"severity": 8,
	"message": "Expected expression",
	"source": "Pylance",
	"startLineNumber": 107,
	"startColumn": 13,
	"endLineNumber": 107,
	"endColumn": 14,
	"origin": "extHost1"
},{
	"resource": "/c:/Users/et-10/OneDrive/Desktop/myproject/mysite/main/views.py",
	"owner": "Pylance3",
	"severity": 8,
	"message": "Expected expression",
	"source": "Pylance",
	"startLineNumber": 108,
	"startColumn": 13,
	"endLineNumber": 108,
	"endColumn": 14,
	"origin": "extHost1"
},{
	"resource": "/c:/Users/et-10/OneDrive/Desktop/myproject/mysite/main/views.py",
	"owner": "Pylance3",
	"severity": 8,
	"message": "Unindent not expected",
	"source": "Pylance",
	"startLineNumber": 109,
	"startColumn": 11,
	"endLineNumber": 109,
	"endColumn": 12,
	"origin": "extHost1"
},{
	"resource": "/c:/Users/et-10/OneDrive/Desktop/myproject/mysite/main/views.py",
	"owner": "Pylance3",
	"severity": 8,
	"message": "Expected expression",
	"source": "Pylance",
	"startLineNumber": 109,
	"startColumn": 11,
	"endLineNumber": 109,
	"endColumn": 12,
	"origin": "extHost1"
},{
	"resource": "/c:/Users/et-10/OneDrive/Desktop/myproject/mysite/main/views.py",
	"owner": "Pylance3",
	"severity": 8,
	"message": "\"{\" was not closed",
	"source": "Pylance",
	"startLineNumber": 110,
	"startColumn": 11,
	"endLineNumber": 110,
	"endColumn": 12,
	"origin": "extHost1"
},{
	"resource": "/c:/Users/et-10/OneDrive/Desktop/myproject/mysite/main/views.py",
	"owner": "Pylance3",
	"severity": 8,
	"message": "Expected expression",
	"source": "Pylance",
	"startLineNumber": 110,
	"startColumn": 12,
	"endLineNumber": 110,
	"endColumn": 13,
	"origin": "extHost1"
},{
	"resource": "/c:/Users/et-10/OneDrive/Desktop/myproject/mysite/main/views.py",
	"owner": "Pylance3",
	"severity": 8,
	"message": "Expected expression",
	"source": "Pylance",
	"startLineNumber": 111,
	"startColumn": 11,
	"endLineNumber": 111,
	"endColumn": 12,
	"origin": "extHost1"
},{
	"resource": "/c:/Users/et-10/OneDrive/Desktop/myproject/mysite/main/views.py",
	"owner": "Pylance3",
	"severity": 8,
	"message": "\"{\" was not closed",
	"source": "Pylance",
	"startLineNumber": 112,
	"startColumn": 11,
	"endLineNumber": 112,
	"endColumn": 12,
	"origin": "extHost1"
},{
	"resource": "/c:/Users/et-10/OneDrive/Desktop/myproject/mysite/main/views.py",
	"owner": "Pylance3",
	"severity": 8,
	"message": "Expected expression",
	"source": "Pylance",
	"startLineNumber": 112,
	"startColumn": 12,
	"endLineNumber": 112,
	"endColumn": 13,
	"origin": "extHost1"
},{
	"resource": "/c:/Users/et-10/OneDrive/Desktop/myproject/mysite/main/views.py",
	"owner": "Pylance3",
	"severity": 8,
	"message": "Unindent not expected",
	"source": "Pylance",
	"startLineNumber": 113,
	"startColumn": 9,
	"endLineNumber": 113,
	"endColumn": 10,
	"origin": "extHost1"
},{
	"resource": "/c:/Users/et-10/OneDrive/Desktop/myproject/mysite/main/views.py",
	"owner": "Pylance3",
	"severity": 8,
	"message": "Expected expression",
	"source": "Pylance",
	"startLineNumber": 113,
	"startColumn": 9,
	"endLineNumber": 113,
	"endColumn": 10,
	"origin": "extHost1"
},{
	"resource": "/c:/Users/et-10/OneDrive/Desktop/myproject/mysite/main/views.py",
	"owner": "Pylance3",
	"severity": 8,
	"message": "Unindent not expected",
	"source": "Pylance",
	"startLineNumber": 114,
	"startColumn": 7,
	"endLineNumber": 114,
	"endColumn": 8,
	"origin": "extHost1"
},{
	"resource": "/c:/Users/et-10/OneDrive/Desktop/myproject/mysite/main/views.py",
	"owner": "Pylance3",
	"severity": 8,
	"message": "Expected expression",
	"source": "Pylance",
	"startLineNumber": 114,
	"startColumn": 7,
	"endLineNumber": 114,
	"endColumn": 8,
	"origin": "extHost1"
},{
	"resource": "/c:/Users/et-10/OneDrive/Desktop/myproject/mysite/main/views.py",
	"owner": "Pylance3",
	"severity": 8,
	"message": "Unindent not expected",
	"source": "Pylance",
	"startLineNumber": 115,
	"startColumn": 5,
	"endLineNumber": 115,
	"endColumn": 6,
	"origin": "extHost1"
},{
	"resource": "/c:/Users/et-10/OneDrive/Desktop/myproject/mysite/main/views.py",
	"owner": "Pylance3",
	"severity": 8,
	"message": "Expected expression",
	"source": "Pylance",
	"startLineNumber": 115,
	"startColumn": 5,
	"endLineNumber": 115,
	"endColumn": 6,
	"origin": "extHost1"
},{
	"resource": "/c:/Users/et-10/OneDrive/Desktop/myproject/mysite/main/views.py",
	"owner": "Pylance3",
	"severity": 8,
	"message": "Unindent not expected",
	"source": "Pylance",
	"startLineNumber": 116,
	"startColumn": 3,
	"endLineNumber": 116,
	"endColumn": 4,
	"origin": "extHost1"
},{
	"resource": "/c:/Users/et-10/OneDrive/Desktop/myproject/mysite/main/views.py",
	"owner": "Pylance3",
	"severity": 8,
	"message": "Expected expression",
	"source": "Pylance",
	"startLineNumber": 116,
	"startColumn": 3,
	"endLineNumber": 116,
	"endColumn": 4,
	"origin": "extHost1"
},{
	"resource": "/c:/Users/et-10/OneDrive/Desktop/myproject/mysite/main/views.py",
	"owner": "Pylance3",
	"severity": 8,
	"message": "Expected expression",
	"source": "Pylance",
	"startLineNumber": 118,
	"startColumn": 3,
	"endLineNumber": 118,
	"endColumn": 4,
	"origin": "extHost1"
},{
	"resource": "/c:/Users/et-10/OneDrive/Desktop/myproject/mysite/main/views.py",
	"owner": "Pylance3",
	"severity": 8,
	"message": "Expected expression",
	"source": "Pylance",
	"startLineNumber": 119,
	"startColumn": 3,
	"endLineNumber": 119,
	"endColumn": 4,
	"origin": "extHost1"
},{
	"resource": "/c:/Users/et-10/OneDrive/Desktop/myproject/mysite/main/views.py",
	"owner": "Pylance3",
	"severity": 8,
	"message": "Unexpected indentation",
	"source": "Pylance",
	"startLineNumber": 120,
	"startColumn": 1,
	"endLineNumber": 120,
	"endColumn": 5,
	"origin": "extHost1"
},{
	"resource": "/c:/Users/et-10/OneDrive/Desktop/myproject/mysite/main/views.py",
	"owner": "Pylance3",
	"severity": 8,
	"message": "Expected expression",
	"source": "Pylance",
	"startLineNumber": 120,
	"startColumn": 5,
	"endLineNumber": 120,
	"endColumn": 6,
	"origin": "extHost1"
},{
	"resource": "/c:/Users/et-10/OneDrive/Desktop/myproject/mysite/main/views.py",
	"owner": "Pylance3",
	"severity": 8,
	"message": "Expected expression",
	"source": "Pylance",
	"startLineNumber": 122,
	"startColumn": 5,
	"endLineNumber": 122,
	"endColumn": 6,
	"origin": "extHost1"
},{
	"resource": "/c:/Users/et-10/OneDrive/Desktop/myproject/mysite/main/views.py",
	"owner": "Pylance3",
	"severity": 8,
	"message": "Unexpected indentation",
	"source": "Pylance",
	"startLineNumber": 123,
	"startColumn": 1,
	"endLineNumber": 123,
	"endColumn": 7,
	"origin": "extHost1"
},{
	"resource": "/c:/Users/et-10/OneDrive/Desktop/myproject/mysite/main/views.py",
	"owner": "Pylance3",
	"severity": 8,
	"message": "Expected expression",
	"source": "Pylance",
	"startLineNumber": 123,
	"startColumn": 7,
	"endLineNumber": 123,
	"endColumn": 8,
	"origin": "extHost1"
},{
	"resource": "/c:/Users/et-10/OneDrive/Desktop/myproject/mysite/main/views.py",
	"owner": "Pylance3",
	"severity": 8,
	"message": "\"{\" was not closed",
	"source": "Pylance",
	"startLineNumber": 124,
	"startColumn": 7,
	"endLineNumber": 124,
	"endColumn": 8,
	"origin": "extHost1"
},{
	"resource": "/c:/Users/et-10/OneDrive/Desktop/myproject/mysite/main/views.py",
	"owner": "Pylance3",
	"severity": 8,
	"message": "Expected expression",
	"source": "Pylance",
	"startLineNumber": 124,
	"startColumn": 8,
	"endLineNumber": 124,
	"endColumn": 9,
	"origin": "extHost1"
},{
	"resource": "/c:/Users/et-10/OneDrive/Desktop/myproject/mysite/main/views.py",
	"owner": "Pylance3",
	"severity": 8,
	"message": "Expected expression",
	"source": "Pylance",
	"startLineNumber": 125,
	"startColumn": 7,
	"endLineNumber": 125,
	"endColumn": 8,
	"origin": "extHost1"
},{
	"resource": "/c:/Users/et-10/OneDrive/Desktop/myproject/mysite/main/views.py",
	"owner": "Pylance3",
	"severity": 8,
	"message": "Unexpected indentation",
	"source": "Pylance",
	"startLineNumber": 126,
	"startColumn": 1,
	"endLineNumber": 126,
	"endColumn": 9,
	"origin": "extHost1"
},{
	"resource": "/c:/Users/et-10/OneDrive/Desktop/myproject/mysite/main/views.py",
	"owner": "Pylance3",
	"severity": 8,
	"message": "Expected expression",
	"source": "Pylance",
	"startLineNumber": 129,
	"startColumn": 34,
	"endLineNumber": 130,
	"endColumn": 1,
	"origin": "extHost1"
},{
	"resource": "/c:/Users/et-10/OneDrive/Desktop/myproject/mysite/main/views.py",
	"owner": "Pylance3",
	"severity": 8,
	"message": "Unindent not expected",
	"source": "Pylance",
	"startLineNumber": 131,
	"startColumn": 7,
	"endLineNumber": 131,
	"endColumn": 8,
	"origin": "extHost1"
},{
	"resource": "/c:/Users/et-10/OneDrive/Desktop/myproject/mysite/main/views.py",
	"owner": "Pylance3",
	"severity": 8,
	"message": "Expected expression",
	"source": "Pylance",
	"startLineNumber": 131,
	"startColumn": 7,
	"endLineNumber": 131,
	"endColumn": 8,
	"origin": "extHost1"
},{
	"resource": "/c:/Users/et-10/OneDrive/Desktop/myproject/mysite/main/views.py",
	"owner": "Pylance3",
	"severity": 8,
	"message": "\"{\" was not closed",
	"source": "Pylance",
	"startLineNumber": 132,
	"startColumn": 7,
	"endLineNumber": 132,
	"endColumn": 8,
	"origin": "extHost1"
},{
	"resource": "/c:/Users/et-10/OneDrive/Desktop/myproject/mysite/main/views.py",
	"owner": "Pylance3",
	"severity": 8,
	"message": "Expected expression",
	"source": "Pylance",
	"startLineNumber": 132,
	"startColumn": 8,
	"endLineNumber": 132,
	"endColumn": 9,
	"origin": "extHost1"
},{
	"resource": "/c:/Users/et-10/OneDrive/Desktop/myproject/mysite/main/views.py",
	"owner": "Pylance3",
	"severity": 8,
	"message": "Unindent not expected",
	"source": "Pylance",
	"startLineNumber": 133,
	"startColumn": 5,
	"endLineNumber": 133,
	"endColumn": 6,
	"origin": "extHost1"
},{
	"resource": "/c:/Users/et-10/OneDrive/Desktop/myproject/mysite/main/views.py",
	"owner": "Pylance3",
	"severity": 8,
	"message": "Expected expression",
	"source": "Pylance",
	"startLineNumber": 133,
	"startColumn": 5,
	"endLineNumber": 133,
	"endColumn": 6,
	"origin": "extHost1"
},{
	"resource": "/c:/Users/et-10/OneDrive/Desktop/myproject/mysite/main/views.py",
	"owner": "Pylance3",
	"severity": 8,
	"message": "Expected expression",
	"source": "Pylance",
	"startLineNumber": 135,
	"startColumn": 5,
	"endLineNumber": 135,
	"endColumn": 6,
	"origin": "extHost1"
},{
	"resource": "/c:/Users/et-10/OneDrive/Desktop/myproject/mysite/main/views.py",
	"owner": "Pylance3",
	"severity": 8,
	"message": "Expected expression",
	"source": "Pylance",
	"startLineNumber": 136,
	"startColumn": 5,
	"endLineNumber": 136,
	"endColumn": 6,
	"origin": "extHost1"
},{
	"resource": "/c:/Users/et-10/OneDrive/Desktop/myproject/mysite/main/views.py",
	"owner": "Pylance3",
	"severity": 8,
	"message": "Expected expression",
	"source": "Pylance",
	"startLineNumber": 137,
	"startColumn": 5,
	"endLineNumber": 137,
	"endColumn": 6,
	"origin": "extHost1"
},{
	"resource": "/c:/Users/et-10/OneDrive/Desktop/myproject/mysite/main/views.py",
	"owner": "Pylance3",
	"severity": 8,
	"message": "Expected expression",
	"source": "Pylance",
	"startLineNumber": 138,
	"startColumn": 5,
	"endLineNumber": 138,
	"endColumn": 6,
	"origin": "extHost1"
},{
	"resource": "/c:/Users/et-10/OneDrive/Desktop/myproject/mysite/main/views.py",
	"owner": "Pylance3",
	"severity": 8,
	"message": "Expected expression",
	"source": "Pylance",
	"startLineNumber": 139,
	"startColumn": 5,
	"endLineNumber": 139,
	"endColumn": 6,
	"origin": "extHost1"
},{
	"resource": "/c:/Users/et-10/OneDrive/Desktop/myproject/mysite/main/views.py",
	"owner": "Pylance3",
	"severity": 8,
	"message": "Expected expression",
	"source": "Pylance",
	"startLineNumber": 140,
	"startColumn": 5,
	"endLineNumber": 140,
	"endColumn": 6,
	"origin": "extHost1"
},{
	"resource": "/c:/Users/et-10/OneDrive/Desktop/myproject/mysite/main/views.py",
	"owner": "Pylance3",
	"severity": 8,
	"message": "Expected expression",
	"source": "Pylance",
	"startLineNumber": 142,
	"startColumn": 5,
	"endLineNumber": 142,
	"endColumn": 6,
	"origin": "extHost1"
},{
	"resource": "/c:/Users/et-10/OneDrive/Desktop/myproject/mysite/main/views.py",
	"owner": "Pylance3",
	"severity": 8,
	"message": "Expected expression",
	"source": "Pylance",
	"startLineNumber": 143,
	"startColumn": 5,
	"endLineNumber": 143,
	"endColumn": 6,
	"origin": "extHost1"
},{
	"resource": "/c:/Users/et-10/OneDrive/Desktop/myproject/mysite/main/views.py",
	"owner": "Pylance3",
	"severity": 8,
	"message": "Unindent not expected",
	"source": "Pylance",
	"startLineNumber": 144,
	"startColumn": 3,
	"endLineNumber": 144,
	"endColumn": 4,
	"origin": "extHost1"
},{
	"resource": "/c:/Users/et-10/OneDrive/Desktop/myproject/mysite/main/views.py",
	"owner": "Pylance3",
	"severity": 8,
	"message": "Expected expression",
	"source": "Pylance",
	"startLineNumber": 144,
	"startColumn": 3,
	"endLineNumber": 144,
	"endColumn": 4,
	"origin": "extHost1"
},{
	"resource": "/c:/Users/et-10/OneDrive/Desktop/myproject/mysite/main/views.py",
	"owner": "Pylance3",
	"severity": 8,
	"message": "Expected expression",
	"source": "Pylance",
	"startLineNumber": 146,
	"startColumn": 3,
	"endLineNumber": 146,
	"endColumn": 4,
	"origin": "extHost1"
},{
	"resource": "/c:/Users/et-10/OneDrive/Desktop/myproject/mysite/main/views.py",
	"owner": "Pylance3",
	"severity": 8,
	"message": "Expected expression",
	"source": "Pylance",
	"startLineNumber": 147,
	"startColumn": 3,
	"endLineNumber": 147,
	"endColumn": 4,
	"origin": "extHost1"
},{
	"resource": "/c:/Users/et-10/OneDrive/Desktop/myproject/mysite/main/views.py",
	"owner": "Pylance3",
	"severity": 8,
	"message": "Unexpected indentation",
	"source": "Pylance",
	"startLineNumber": 148,
	"startColumn": 1,
	"endLineNumber": 148,
	"endColumn": 5,
	"origin": "extHost1"
},{
	"resource": "/c:/Users/et-10/OneDrive/Desktop/myproject/mysite/main/views.py",
	"owner": "Pylance3",
	"severity": 8,
	"message": "Expected expression",
	"source": "Pylance",
	"startLineNumber": 148,
	"startColumn": 5,
	"endLineNumber": 148,
	"endColumn": 6,
	"origin": "extHost1"
},{
	"resource": "/c:/Users/et-10/OneDrive/Desktop/myproject/mysite/main/views.py",
	"owner": "Pylance3",
	"severity": 8,
	"message": "Expected expression",
	"source": "Pylance",
	"startLineNumber": 150,
	"startColumn": 5,
	"endLineNumber": 150,
	"endColumn": 6,
	"origin": "extHost1"
},{
	"resource": "/c:/Users/et-10/OneDrive/Desktop/myproject/mysite/main/views.py",
	"owner": "Pylance3",
	"severity": 8,
	"message": "Unexpected indentation",
	"source": "Pylance",
	"startLineNumber": 151,
	"startColumn": 1,
	"endLineNumber": 151,
	"endColumn": 7,
	"origin": "extHost1"
},{
	"resource": "/c:/Users/et-10/OneDrive/Desktop/myproject/mysite/main/views.py",
	"owner": "Pylance3",
	"severity": 8,
	"message": "Expected expression",
	"source": "Pylance",
	"startLineNumber": 151,
	"startColumn": 7,
	"endLineNumber": 151,
	"endColumn": 8,
	"origin": "extHost1"
},{
	"resource": "/c:/Users/et-10/OneDrive/Desktop/myproject/mysite/main/views.py",
	"owner": "Pylance3",
	"severity": 8,
	"message": "Expected expression",
	"source": "Pylance",
	"startLineNumber": 152,
	"startColumn": 7,
	"endLineNumber": 152,
	"endColumn": 8,
	"origin": "extHost1"
},{
	"resource": "/c:/Users/et-10/OneDrive/Desktop/myproject/mysite/main/views.py",
	"owner": "Pylance3",
	"severity": 8,
	"message": "Expected expression",
	"source": "Pylance",
	"startLineNumber": 153,
	"startColumn": 7,
	"endLineNumber": 153,
	"endColumn": 8,
	"origin": "extHost1"
},{
	"resource": "/c:/Users/et-10/OneDrive/Desktop/myproject/mysite/main/views.py",
	"owner": "Pylance3",
	"severity": 8,
	"message": "Expected expression",
	"source": "Pylance",
	"startLineNumber": 154,
	"startColumn": 7,
	"endLineNumber": 154,
	"endColumn": 8,
	"origin": "extHost1"
},{
	"resource": "/c:/Users/et-10/OneDrive/Desktop/myproject/mysite/main/views.py",
	"owner": "Pylance3",
	"severity": 8,
	"message": "Unexpected indentation",
	"source": "Pylance",
	"startLineNumber": 155,
	"startColumn": 1,
	"endLineNumber": 155,
	"endColumn": 9,
	"origin": "extHost1"
},{
	"resource": "/c:/Users/et-10/OneDrive/Desktop/myproject/mysite/main/views.py",
	"owner": "Pylance3",
	"severity": 8,
	"message": "Expected expression",
	"source": "Pylance",
	"startLineNumber": 155,
	"startColumn": 9,
	"endLineNumber": 155,
	"endColumn": 10,
	"origin": "extHost1"
},{
	"resource": "/c:/Users/et-10/OneDrive/Desktop/myproject/mysite/main/views.py",
	"owner": "Pylance3",
	"severity": 8,
	"message": "\"{\" was not closed",
	"source": "Pylance",
	"startLineNumber": 156,
	"startColumn": 9,
	"endLineNumber": 156,
	"endColumn": 10,
	"origin": "extHost1"
},{
	"resource": "/c:/Users/et-10/OneDrive/Desktop/myproject/mysite/main/views.py",
	"owner": "Pylance3",
	"severity": 8,
	"message": "Expected expression",
	"source": "Pylance",
	"startLineNumber": 156,
	"startColumn": 10,
	"endLineNumber": 156,
	"endColumn": 11,
	"origin": "extHost1"
},{
	"resource": "/c:/Users/et-10/OneDrive/Desktop/myproject/mysite/main/views.py",
	"owner": "Pylance3",
	"severity": 8,
	"message": "Expected expression",
	"source": "Pylance",
	"startLineNumber": 157,
	"startColumn": 9,
	"endLineNumber": 157,
	"endColumn": 10,
	"origin": "extHost1"
},{
	"resource": "/c:/Users/et-10/OneDrive/Desktop/myproject/mysite/main/views.py",
	"owner": "Pylance3",
	"severity": 8,
	"message": "\"{\" was not closed",
	"source": "Pylance",
	"startLineNumber": 158,
	"startColumn": 9,
	"endLineNumber": 158,
	"endColumn": 10,
	"origin": "extHost1"
},{
	"resource": "/c:/Users/et-10/OneDrive/Desktop/myproject/mysite/main/views.py",
	"owner": "Pylance3",
	"severity": 8,
	"message": "Expected expression",
	"source": "Pylance",
	"startLineNumber": 158,
	"startColumn": 10,
	"endLineNumber": 158,
	"endColumn": 11,
	"origin": "extHost1"
},{
	"resource": "/c:/Users/et-10/OneDrive/Desktop/myproject/mysite/main/views.py",
	"owner": "Pylance3",
	"severity": 8,
	"message": "Unindent not expected",
	"source": "Pylance",
	"startLineNumber": 159,
	"startColumn": 7,
	"endLineNumber": 159,
	"endColumn": 8,
	"origin": "extHost1"
},{
	"resource": "/c:/Users/et-10/OneDrive/Desktop/myproject/mysite/main/views.py",
	"owner": "Pylance3",
	"severity": 8,
	"message": "Expected expression",
	"source": "Pylance",
	"startLineNumber": 159,
	"startColumn": 7,
	"endLineNumber": 159,
	"endColumn": 8,
	"origin": "extHost1"
},{
	"resource": "/c:/Users/et-10/OneDrive/Desktop/myproject/mysite/main/views.py",
	"owner": "Pylance3",
	"severity": 8,
	"message": "Expected expression",
	"source": "Pylance",
	"startLineNumber": 160,
	"startColumn": 7,
	"endLineNumber": 160,
	"endColumn": 8,
	"origin": "extHost1"
},{
	"resource": "/c:/Users/et-10/OneDrive/Desktop/myproject/mysite/main/views.py",
	"owner": "Pylance3",
	"severity": 8,
	"message": "Expected expression",
	"source": "Pylance",
	"startLineNumber": 161,
	"startColumn": 7,
	"endLineNumber": 161,
	"endColumn": 8,
	"origin": "extHost1"
},{
	"resource": "/c:/Users/et-10/OneDrive/Desktop/myproject/mysite/main/views.py",
	"owner": "Pylance3",
	"severity": 8,
	"message": "Expected expression",
	"source": "Pylance",
	"startLineNumber": 162,
	"startColumn": 7,
	"endLineNumber": 162,
	"endColumn": 8,
	"origin": "extHost1"
},{
	"resource": "/c:/Users/et-10/OneDrive/Desktop/myproject/mysite/main/views.py",
	"owner": "Pylance3",
	"severity": 8,
	"message": "Expected expression",
	"source": "Pylance",
	"startLineNumber": 163,
	"startColumn": 7,
	"endLineNumber": 163,
	"endColumn": 8,
	"origin": "extHost1"
},{
	"resource": "/c:/Users/et-10/OneDrive/Desktop/myproject/mysite/main/views.py",
	"owner": "Pylance3",
	"severity": 8,
	"message": "Expected expression",
	"source": "Pylance",
	"startLineNumber": 164,
	"startColumn": 7,
	"endLineNumber": 164,
	"endColumn": 8,
	"origin": "extHost1"
},{
	"resource": "/c:/Users/et-10/OneDrive/Desktop/myproject/mysite/main/views.py",
	"owner": "Pylance3",
	"severity": 8,
	"message": "Unindent not expected",
	"source": "Pylance",
	"startLineNumber": 165,
	"startColumn": 5,
	"endLineNumber": 165,
	"endColumn": 6,
	"origin": "extHost1"
},{
	"resource": "/c:/Users/et-10/OneDrive/Desktop/myproject/mysite/main/views.py",
	"owner": "Pylance3",
	"severity": 8,
	"message": "Expected expression",
	"source": "Pylance",
	"startLineNumber": 165,
	"startColumn": 5,
	"endLineNumber": 165,
	"endColumn": 6,
	"origin": "extHost1"
},{
	"resource": "/c:/Users/et-10/OneDrive/Desktop/myproject/mysite/main/views.py",
	"owner": "Pylance3",
	"severity": 8,
	"message": "Unindent not expected",
	"source": "Pylance",
	"startLineNumber": 166,
	"startColumn": 3,
	"endLineNumber": 166,
	"endColumn": 4,
	"origin": "extHost1"
},{
	"resource": "/c:/Users/et-10/OneDrive/Desktop/myproject/mysite/main/views.py",
	"owner": "Pylance3",
	"severity": 8,
	"message": "Expected expression",
	"source": "Pylance",
	"startLineNumber": 166,
	"startColumn": 3,
	"endLineNumber": 166,
	"endColumn": 4,
	"origin": "extHost1"
},{
	"resource": "/c:/Users/et-10/OneDrive/Desktop/myproject/mysite/main/views.py",
	"owner": "Pylance3",
	"severity": 8,
	"message": "Unindent not expected",
	"source": "Pylance",
	"startLineNumber": 167,
	"startColumn": 1,
	"endLineNumber": 167,
	"endColumn": 2,
	"origin": "extHost1"
},{
	"resource": "/c:/Users/et-10/OneDrive/Desktop/myproject/mysite/main/views.py",
	"owner": "Pylance3",
	"severity": 8,
	"message": "Expected expression",
	"source": "Pylance",
	"startLineNumber": 167,
	"startColumn": 1,
	"endLineNumber": 167,
	"endColumn": 2,
	"origin": "extHost1"
},{
	"resource": "/c:/Users/et-10/OneDrive/Desktop/myproject/mysite/main/views.py",
	"owner": "Pylance3",
	"severity": 8,
	"message": "Expected expression",
	"source": "Pylance",
	"startLineNumber": 169,
	"startColumn": 1,
	"endLineNumber": 169,
	"endColumn": 2,
	"origin": "extHost1"
},{
	"resource": "/c:/Users/et-10/OneDrive/Desktop/myproject/mysite/main/views.py",
	"owner": "Pylance3",
	"severity": 8,
	"message": "Expected expression",
	"source": "Pylance",
	"startLineNumber": 170,
	"startColumn": 1,
	"endLineNumber": 170,
	"endColumn": 2,
	"origin": "extHost1"
},{
	"resource": "/c:/Users/et-10/OneDrive/Desktop/myproject/mysite/main/views.py",
	"owner": "Pylance3",
	"severity": 8,
	"message": "\"(\" was not closed",
	"source": "Pylance",
	"startLineNumber": 171,
	"startColumn": 46,
	"endLineNumber": 171,
	"endColumn": 47,
	"origin": "extHost1"
},{
	"resource": "/c:/Users/et-10/OneDrive/Desktop/myproject/mysite/main/views.py",
	"owner": "Pylance3",
	"severity": 8,
	"message": "Expected expression",
	"source": "Pylance",
	"startLineNumber": 171,
	"startColumn": 51,
	"endLineNumber": 171,
	"endColumn": 52,
	"origin": "extHost1"
},{
	"resource": "/c:/Users/et-10/OneDrive/Desktop/myproject/mysite/main/views.py",
	"owner": "Pylance3",
	"severity": 8,
	"message": "Expected expression",
	"source": "Pylance",
	"startLineNumber": 180,
	"startColumn": 1,
	"endLineNumber": 180,
	"endColumn": 2,
	"origin": "extHost1"
},{
	"resource": "/c:/Users/et-10/OneDrive/Desktop/myproject/mysite/main/views.py",
	"owner": "Pylance3",
	"severity": 8,
	"message": "Statements must be separated by newlines or semicolons",
	"source": "Pylance",
	"startLineNumber": 181,
	"startColumn": 68,
	"endLineNumber": 181,
	"endColumn": 69,
	"origin": "extHost1"
},{
	"resource": "/c:/Users/et-10/OneDrive/Desktop/myproject/mysite/main/views.py",
	"owner": "Pylance3",
	"severity": 8,
	"message": "\"{\" was not closed",
	"source": "Pylance",
	"startLineNumber": 181,
	"startColumn": 68,
	"endLineNumber": 181,
	"endColumn": 69,
	"origin": "extHost1"
},{
	"resource": "/c:/Users/et-10/OneDrive/Desktop/myproject/mysite/main/views.py",
	"owner": "Pylance3",
	"severity": 8,
	"message": "Statements must be separated by newlines or semicolons",
	"source": "Pylance",
	"startLineNumber": 182,
	"startColumn": 9,
	"endLineNumber": 182,
	"endColumn": 10,
	"origin": "extHost1"
},{
	"resource": "/c:/Users/et-10/OneDrive/Desktop/myproject/mysite/main/views.py",
	"owner": "Pylance3",
	"severity": 8,
	"message": "Expected expression",
	"source": "Pylance",
	"startLineNumber": 183,
	"startColumn": 3,
	"endLineNumber": 183,
	"endColumn": 5,
	"origin": "extHost1"
},{
	"resource": "/c:/Users/et-10/OneDrive/Desktop/myproject/mysite/main/views.py",
	"owner": "Pylance3",
	"severity": 8,
	"message": "Statements must be separated by newlines or semicolons",
	"source": "Pylance",
	"startLineNumber": 242,
	"startColumn": 1,
	"endLineNumber": 242,
	"endColumn": 1,
	"origin": "extHost1"
},{
	"resource": "/c:/Users/et-10/OneDrive/Desktop/myproject/mysite/main/views.py",
	"owner": "Pylance3",
	"code": {
		"value": "reportUndefinedVariable",
		"target": {
			"$mid": 1,
			"path": "/microsoft/pylance-release/blob/main/docs/diagnostics/reportUndefinedVariable.md",
			"scheme": "https",
			"authority": "github.com"
		}
	},
	"severity": 4,
	"message": "\"media\" is not defined",
	"source": "Pylance",
	"startLineNumber": 66,
	"startColumn": 2,
	"endLineNumber": 66,
	"endColumn": 7,
	"origin": "extHost1"
},{
	"resource": "/c:/Users/et-10/OneDrive/Desktop/myproject/mysite/main/views.py",
	"owner": "Pylance3",
	"code": {
		"value": "reportUndefinedVariable",
		"target": {
			"$mid": 1,
			"path": "/microsoft/pylance-release/blob/main/docs/diagnostics/reportUndefinedVariable.md",
			"scheme": "https",
			"authority": "github.com"
		}
	},
	"severity": 4,
	"message": "\"a\" is not defined",
	"source": "Pylance",
	"startLineNumber": 130,
	"startColumn": 12,
	"endLineNumber": 130,
	"endColumn": 13,
	"origin": "extHost1"
},{
	"resource": "/c:/Users/et-10/OneDrive/Desktop/myproject/mysite/main/views.py",
	"owner": "Pylance3",
	"code": {
		"value": "reportUndefinedVariable",
		"target": {
			"$mid": 1,
			"path": "/microsoft/pylance-release/blob/main/docs/diagnostics/reportUndefinedVariable.md",
			"scheme": "https",
			"authority": "github.com"
		}
	},
	"severity": 4,
	"message": "\"a\" is not defined",
	"source": "Pylance",
	"startLineNumber": 130,
	"startColumn": 27,
	"endLineNumber": 130,
	"endColumn": 28,
	"origin": "extHost1"
},{
	"resource": "/c:/Users/et-10/OneDrive/Desktop/myproject/mysite/main/views.py",
	"owner": "Pylance3",
	"code": {
		"value": "reportUndefinedVariable",
		"target": {
			"$mid": 1,
			"path": "/microsoft/pylance-release/blob/main/docs/diagnostics/reportUndefinedVariable.md",
			"scheme": "https",
			"authority": "github.com"
		}
	},
	"severity": 4,
	"message": "\"document\" is not defined",
	"source": "Pylance",
	"startLineNumber": 171,
	"startColumn": 1,
	"endLineNumber": 171,
	"endColumn": 9,
	"origin": "extHost1"
},{
	"resource": "/c:/Users/et-10/OneDrive/Desktop/myproject/mysite/main/views.py",
	"owner": "Pylance3",
	"code": {
		"value": "reportUndefinedVariable",
		"target": {
			"$mid": 1,
			"path": "/microsoft/pylance-release/blob/main/docs/diagnostics/reportUndefinedVariable.md",
			"scheme": "https",
			"authority": "github.com"
		}
	},
	"severity": 4,
	"message": "\"document\" is not defined",
	"source": "Pylance",
	"startLineNumber": 181,
	"startColumn": 1,
	"endLineNumber": 181,
	"endColumn": 9,
	"origin": "extHost1"
},{
	"resource": "/c:/Users/et-10/OneDrive/Desktop/myproject/mysite/main/views.py",
	"owner": "Pylance3",
	"code": {
		"value": "reportUndefinedVariable",
		"target": {
			"$mid": 1,
			"path": "/microsoft/pylance-release/blob/main/docs/diagnostics/reportUndefinedVariable.md",
			"scheme": "https",
			"authority": "github.com"
		}
	},
	"severity": 4,
	"message": "\"const\" is not defined",
	"source": "Pylance",
	"startLineNumber": 182,
	"startColumn": 3,
	"endLineNumber": 182,
	"endColumn": 8,
	"origin": "extHost1"
},{
	"resource": "/c:/Users/et-10/OneDrive/Desktop/myproject/mysite/main/views.py",
	"owner": "Pylance3",
	"code": {
		"value": "reportUndefinedVariable",
		"target": {
			"$mid": 1,
			"path": "/microsoft/pylance-release/blob/main/docs/diagnostics/reportUndefinedVariable.md",
			"scheme": "https",
			"authority": "github.com"
		}
	},
	"severity": 4,
	"message": "\"this\" is not defined",
	"source": "Pylance",
	"startLineNumber": 182,
	"startColumn": 13,
	"endLineNumber": 182,
	"endColumn": 17,
	"origin": "extHost1"
}]