{% extends "base.html" %}

{% block content %}
<div class="container">
    <h2>🔔 التنبيهات</h2>

    {% if notifications %}
        <ul>
            {% for note in notifications %}
                <li style="margin-bottom: 15px;">
                    <strong>{{ note.title }}</strong><br>
                    <p>{{ note.message }}</p>
                    <small>{{ note.created_at|date:"d/m/Y - H:i" }}</small>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p style="color: gray;">لا توجد تنبيهات حالياً جميع الدكاترة متواجدين , الرجاء التأكد هنا قبل الحضور .</p>
    {% endif %}
</div>
{% endblock %}
